.aside {
  position: absolute;
  left: 2rem;
  top: 2rem;
  bottom: 2rem;
  width: 20.625rem;
  border: 1px solid var(--gray);
  border-radius: 0.625rem;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
  font-weight: 400;
  font-size: 0.75rem;
  width: 17.6rem;
}

.filters_header {
  font-weight: 600;
  font-size: 1rem;
}

.filters_toggle {
  display: flex;
  gap: 0.5rem;
}

.filters_toggle__select_all {
  cursor: pointer;
}
.filters_toggle__deselect_all {
  cursor: pointer;
}

.filters_toggle__enabled {
  color: var(--blue);
}
.filters_toggle__disabled {
  color: var(--gray);
}
.filters_select {
  gap: 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.filters_select__item {
  border-width: 1px;
  border-style: solid;
  border-radius: 1.563rem;
  padding: 0.25rem 0.875rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;

  height: 1.875rem;
  max-width: fit-content;
  min-width: 6.25rem;

  cursor: pointer;
}

.filters_select__item__icon {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.filters_select__item__text {
  font-weight: 600;
  font-size: 0.75rem;
}
