.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  font-weight: 600;
  font-size: 2rem;
}

.header_image_count {
  font-weight: 400;
  font-size: 1.125rem;
}

.header_image_count__number {
  font-weight: 700;
  font-size: 1.125rem;
}
